* {
  padding: 0px;
  margin: 0px;
}
a {
  color: white;
  text-decoration: none;
}
li{
  text-decoration: none;
}
header{
  background: url(../../imgs/breakfast.jpg)no-repeat center ; 
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
  widows: 100vw;
  height: 100vh;
}
header:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}
.header-logo{
  margin-top: 5%;
  margin-left: 5%;
  font-size: xx-large;
}
.find{
  margin-top: 10%;
}

.find-menu{
  display: flex;
  justify-content: center;
}

.genre{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 30px;
  width: 300px;
  font-size: 1.1em;
  height: 60px;
  border: 1px solid orange;
}
.maindish{
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 30px;
  width: 300px;
  font-size: 1.1em;
  height: 60px;
  border: 1px solid orange;
}
.search{
  margin-left: 2%;
  color: white;
  border-radius: 50%;
  font-size: 1.1em;
  width: 50px;
  height: 50px;
  background: #FF8E3C;
  border: 1px solid orange;
}
.first-view{
  color: white;
  display: flex;
  justify-content: space-around;
}
.function-btn{
  margin-left: 2%;
}
.signup-btn{
  margin-left: 2%;
  margin-right: 2%;
}
.signin-btn{
  margin-right: 2%;
}
.mypage-btn{
  margin-right: 2%;
}
.header-right{
  color: white;
  text-decoration: none;
  display: flex;
  justify-content:flex-end;
}
.introduction{
  font-size: 50px;
  margin: 10% 10% 2%;
  color: white;
}
.introduction-content{
  font-size: medium;
  color: white;
  margin-left: 15%;
}
.heading-howto{
  margin-top: 3%;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.small-heading-howto{
  display: flex;
  justify-content: center;
}
.howto-step{
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-around;
}
.imgs-howto{
  display: flex;
  justify-content: space-around;
}
.imgs-howto1{
  margin-left: 10%;
  width: 25vw;
}
.howto2{
  padding-right: 10%;
  padding-left: 10%;
}
.imgs-howto2{
  width: 25vw;
}
.imgs-howto3{
  width: 25vw;
}
.text-howto{
  display: flex;
  justify-content: space-around;
}
.function{
  background-color: #F5F5F5;
}
.heading-function{
  margin-top: 5%;
  padding-top: 3%;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.back{
  display: flex;
  justify-content:flex-end;
}
.title-back{
  margin-left: 30%;
  margin-top: 40%;
  width: 10px;
  height: 10px;
  border: 3px solid;
  border-color: white white transparent transparent;
  transform: rotate(-45deg);
}
.radius{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #FF8E3C;
  margin-right: 5%;
  line-height: 50px;
  display: inline-block;
}
/* footer{
  background-color:#222222;
} */
.developer{
  font-size: small;
  color: white;
  display: flex;
  justify-content: center;
  padding: 2% 2%;
}

/*---------------------------------
  footer
---------------------------------*/

footer {
  background-color: #232323;
}
.footer-wrapper {
  height: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/*---------------------------------
  page top
---------------------------------*/
/* .page-top {
  position: fixed;
  bottom: 50px;
  right: 30px;
}

#page-top {
  display: block;
  color: #FF8E3C;
  font-size: 40px;
  text-align: center;
}

#page-top:hover {
  text-decoration: none;
}  */