* {
    padding: 0px;
    margin: 0px;
}
section {
    min-height: 100vh;
}
a {
    color: white;
    text-decoration: none;
}

/*---------------------------------
  header
---------------------------------*/
header{
    background-color: #FF8E3C;
}
.header-wrapper {
    height: 60px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.header-logo {
    color: white;
    font-size: 20px;
}
.header-wrapper2 {
    text-decoration: none;
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: flex-end; 
}

.store-favorite{
    margin-right: 100px;
    margin-left: 50px;
}

/*---------------------------------
  main
---------------------------------*/
.wrapper {
    padding: 50px 0 40px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.main-heading {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

}
.stores, .foods {
    display: flex;
    flex-direction: column;
}
.store, .food {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin: 2em 0;
    color: #232323;
    background: #EFF0F3;
    border-left: solid 10px #FF8E3C;
}
.store-menu, .food-menu {
    display: flex;
}
.store-img {
    margin-right: 30px;
}
.store-name, .food-name {
    display: flex;
    align-items: center;
}
.btn {
    color: white;
    background-color: #FF8E3C;
    padding: 3px 10px;
    border-radius:25px;
    font-size: 13px;
    border: 1px solid orange;
}
.evaluation{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .evaluation input[type='radio']{
    display: none;
  }
  .evaluation label{
    position: relative;
    padding: 10px 10px 0;
    color:gray;
    cursor: pointer;
    font-size: 50px;
  }
  .evaluation label:hover,
  .evaluation label:hover ~ label,
  .evaluation input[type='radio']:checked ~ label{
    color: #FF8E3C;
  }

/*-------------------
  店名の詳細情報
--------------------*/

  .stores-detail h2{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }

  .detail-top{
      display: flex;
  }
  /* .details-container{
    width: 80%;
    margin: 0 auto;
  }*/

  .detail-box{
    width: 23%;
    min-height: auto;
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
  }

  .detail-img{
    width: 30%;
  }

  .detail-text {
      font-size: 14px;
  }
  .review-img{
      border-radius: 50%;
      margin-right: 20px;
      width: 80%;
  }

  .detail-comment {
    font-size: 14px;
  }
.detail-star p{
    margin:5px 0;
}
  .detail{
      display: flex;
      /* justify-content: space-between; */
      flex-wrap: wrap;
  } 
/*-------------------
  サインアップ
--------------------*/
.signup-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signup-left {
    width: 40%;
}
.signup-img-group {
    display: flex;
    flex-direction: column;
}
.signup-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.signup-img-preview {
    display: flex;
    justify-content: center;
}
.img-preview {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 75px;
}
.signup-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}
.signup-info-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-control {
    padding: 3px;
}
.form-label {
    font-size: 15px;
}
.signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.signup-submit-btn {
    font-size: 18px;
}

/*-------------------
  サインイン
--------------------*/
.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
}
.signin-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.signin-info {
    margin-left: 40px;
}
.signin-btn-group {
    display: flex;
    justify-content: center;
}
.signin-btn {
    padding-top: 20px;
}
.signin-submit-btn {
    font-size: 15px;
}


/*---------------------------------
  footer
---------------------------------*/
.footerFixed{
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    /* padding-bottom: 60px; ←フッターの高さを指定 */
    box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}
footer {
    background-color: #232323;
    position: absolute;/* ←絶対位置 */
    bottom: 0;
}
.footer-wrapper {
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*---------------------------------
  page top
---------------------------------*/
.page-top {
    position: fixed;
    bottom: 50px;
    right: 30px;
}

#page-top {
    display: block;
    color: #FF8E3C;
    font-size: 40px;
    text-align: center;
}

#page-top:hover {
    text-decoration: none;
} 

/*---------------------------------
  レビュー作成
---------------------------------*/
.evaluation label{
    position: relative;
    padding: 10px 10px 0;
    color:white;
    text-shadow:0 0 2px #FF8E3C,0 0 2px #FF8E3C,0 0 2px #FF8E3C,0 0 2px #FF8E3C,0 0 2px #FF8E3C;
    cursor: pointer;
    font-size: 30px;
  }
  .reviewcomment{
    margin-left: 100px;
    }

/*---------------------------------
  星評価
---------------------------------*/
.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; /* グレーカラー 自由に設定化 */
    /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #FF8E3C; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */

/*---------------------------------
  index.blade.php
---------------------------------*/

.price{
    font-size: x-large;
}

.fetured_food{
    font-size: x-large;
}

.store-btns{
    display: flex;
}

.store-btns, a{
    margin: 10px;
}

.store-btns, input{
    margin: 10px;
}